src/com/cjl6/myservice.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://cjl.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MyServiceImplService" targetNamespace="http://cjl.com/">

  <!--types-->
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
               xmlns:tns="http://cjl.com/" elementFormDefault="unqualified" targetNamespace="http://cjl.com/" version="1.0">

      <xs:complexType name="IdType">
        <xs:sequence>
          <xs:element name="id" type="xs:int"></xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="personType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"></xs:element>
          <xs:element name="address" type="xs:string"></xs:element>
          <xs:element name="date" type="xs:date"></xs:element>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ArrayPersonType">
        <xs:sequence>
          <xs:element name="persons"  maxOccurs="unbounded" minOccurs="0" type="tns:personType"></xs:element>
        </xs:sequence>
      </xs:complexType>


      <xs:simpleType name="">
        <xs:restriction base="xs:string">
          <xs:enumeration value="READ_ONYL"></xs:enumeration>
          <xs:enumeration value="READ_WRITE"></xs:enumeration>
          <xs:enumeration value="FULL_CONTROL"></xs:enumeration>
          <xs:enumeration value="NONE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>

      <xs:element name="getPersonByIdRequest" type="tns:IdType"/>

      <xs:element name="getPersonByIdResponse" type="tns:personType"/>


    </xs:schema>
  </wsdl:types>

  <!--message-->
  <wsdl:message name="getPersonById">
    <wsdl:part name="parameters" element="tns:getPersonByIdRequest"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="getPersonByIdResponse">
    <wsdl:part name="parameters" element="tns:getPersonByIdResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:portType name="MyServicePortType">
    <wsdl:operation name="getPersonById">
      <wsdl:input message="tns:getPersonById" name="getPersonById">
      </wsdl:input>
      <wsdl:output message="tns:getPersonByIdResponse" name="getPersonByIdResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MyServiceSOAP" type="tns:MyServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="getPersonById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getPersonById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getPersonByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>


  <wsdl:service name="MyServiceImplService">
    <wsdl:port binding="tns:MyServiceSOAP" name="MyServiceImplPort">
      <soap:address location="http://localhost:8080/myservice"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>